.menuItem {
  text-align: center;
  min-width: 300px;
  font-weight: bold;
  color: white;
  transition: color ease 0.25s;
  cursor: pointer;
  padding: 1em;
  &:hover {
    color: #5CC2D0;
    border-color: #5CC2D0;
    .oneDaySurgery {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_chirurgie-dark.png');
      width: 115px;
      height: 115px;
    }
    .ambulance {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_ambulance-dark.png');
      width: 115px;
      height: 115px;
    }
    .plasticSurgery {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_plastika-dark.png');
      width: 115px;
      height: 115px;
    }
    p {
      transition: color ease 0.25s;
      color: #5CC2D0;
    }
    & a > div > div > div > div {
      transition: border-color ease 0.25s;
      border-color: #5CC2D0;
      color: #5CC2D0;
    }
  }
  &.selected {
    color: #5CC2D0;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .oneDaySurgery {
    width: 115px;
    height: 115px;
    background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_chirurgie.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 115px 115px;
    margin-left: auto;
    margin-right: auto;
    transition: background-image ease 0.25s;
    &.selected {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_chirurgie-dark.png');
    }
  }
  .ambulance {
    width: 115px;
    height: 115px;
    background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_ambulance.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 115px 115px;
    margin-left: auto;
    margin-right: auto;
    transition: background-image ease 0.25s;
    &.selected {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_ambulance-dark.png');
    }
  }
  .plasticSurgery {
    width: 115px;
    height: 115px;
    background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_plastika.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 115px 115px;
    margin-left: auto;
    margin-right: auto;
    transition: background-image ease 0.25s;
    &.selected {
      background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/ikona_plastika-dark.png');
    }
  }
}
.visibleOnLessThan426 {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1024px), screen and (min-height: 600px) and (max-height: 750px){
  .menuItem {
    padding: 0.75em;
    min-width: 225px;
    .ambulance, .oneDaySurgery, .plasticSurgery {
      width: 90px !important;
      height: 90px !important;
      background-size: 90px 90px;
    }
    h2 {
      font-size: 22px;
    }
  }
}
@media screen and (min-width: 426px) and (max-width: 768px){
  .menuItem {
    padding: 0.25em;
    min-width: 120px;
    .ambulance, .oneDaySurgery, .plasticSurgery {
      width: 80px !important;
      height: 80px !important;
      background-size: 80px 80px;
    }
    h2 {
      font-size: 16px;
    }
  }
}
@media screen and (max-width: 425px){
  .menuItem {

    padding: 0.25em;
    min-width: 120px;
    .ambulance, .oneDaySurgery, .plasticSurgery {
      width: 80px !important;
      height: 80px !important;
      background-size: 80px 80px;
    }
    h2 {
      font-size: 16px;
    }
  }
  .visibleOnLessThan426 {
    display: block;
  }
  .visibleOnMoreThan425 {
    display: none;
  }
}
