.headWorker {
  padding: 1em;
  cursor: pointer;
  img.photo {
    width: 8em;
    height: 8em;
    border-radius: 6em;
    border: 3px solid #004E63;
    transition: all 0.25s ease;
  }
  h3 {
    transition: all 0.25s ease;
  }
  & > div {
    transition: all 0.25s ease;
  }
  &.selected {
    img.photo {
      border: 3px solid #5CC2D0;
    }
    h3 {
      color: #5CC2D0;
    }
    & > div {
      color: #5CC2D0;
    }
  }
  &:hover {
    img.photo {
      border: 3px solid #5CC2D0;
    }
    h3 {
      color: #5CC2D0;
    }
    & > div {
      color: #5CC2D0;
    }
  }
}
@media screen and (max-width: 500px){
  .headWorker {
    padding: 0.5em 0.25em;
    img.photo {
      width: 8em;
      height: 8em;
      border-radius: 6em;
      border: 2px solid #004E63;
    }
    h3 {
      font-size: 20px;
    }
  }
}
.doctorComment{
  & > div {
    text-align: center;
    max-width: 800px;
  }
}
.displayNone {
  display: none;
}
