  .dash {
    height: 3px;
    background-color: white;
    min-width: 60px;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      background-color: #004E63;
    }
    &.selected {
      background-color: #004E63;
    }
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .contentitem {
    position: relative;
    padding: 1em;
    &.header {
      background-color: rgba(0, 78, 99, 0.35);
      height: "100%";
      z-index: 10
    }
    &.second {
      background-color: #004E63;
      .rowContainer {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .careTypes {
          align-items: center;
          color: white;
          text-align: center;
          font-size: 0.8em;
          padding: 0 1em;
          img {
            max-width: 8em;
            max-height: 8em;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    .contentitem {
      font-size: 0.75em;
      padding: 0.75em;
    }
  }
  @media screen and (min-width: 1921px){
    .contentitem {
      font-size: 1.25em;
    }
  }
  .third {
    background-color: #5CC2D0;
    img {
      width: 80px;
      height: 80px;
    }
  }
  @media screen and (max-width: 500px){
    .third {
      font-size: 0.7em;
      img {
        width: 50px;
      }
    }
  }
  .button {
    @extend %button;
    &:hover {
      border-color: #5CC2D0;
      color: #5CC2D0;
    }
  }
  .buttonDarkerHover {
    @extend %button;
    &:hover {
      border-color: #004E63;
      color: #004E63;
    }
  }
  %button {
    border: 2px solid white;
    font-size: 1.75em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    color: white;
  }
  .selectedButton {
    border-color: #5CC2D0 !important;
    color: #5CC2D0;
  }
  .darkBlueColor {
    color:  #004E63;
  }
  .lightBlueColor {
    color: #5CC2D0;
  }
  .darkBlueBackground {
    background-color: #004E63;
  }
  .whiteColor {
    color: white;
  }
  .buttonToDarkBlue {
    border: 2px solid white;
    font-size: 1.75em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    color: white;
    transition: all 0.15s ease;
    &:hover {
      border-color: #004E63;
      color: #004E63;
    }
  }
  .horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .alignCenter {
    align-items: center;
    padding: 0 2em;
  }
  .info {
    padding: 1em;
  }
  @media screen and (max-width: 720px) and (min-width: 501px){
    .info {
      &.second{
        width: 50%;
      }
      &.first, &.third {
        width: 25%;
      }
    }
  }
  @media screen and (max-width: 500px){
    .info {
      padding: 0.25em;
      &.second{
        width: 55%;
        p {
          padding: 0.25em;
        }
      }
      &.first, &.third {
        width: 20%;
      }
    }
  }

  .roundButton {
    position: relative;
    border-radius: 6em;
    text-align: center;
    transition: all 0.15s;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      color: #5CC2D0;
      border-color: #5CC2D0;
    }
  }
  @media screen and (max-width: 320px){
    .roundButton {
      max-height: 40px;
      min-height: 40px;
      max-width: 40px;
      min-width: 40px;
      border: 2px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 1px;
      & > div {
        margin-top: -2px;
      }
    }
  }
  @media screen and (min-width: 321px) and (max-width: 420px){
    .roundButton {
      max-height: 44px;
      min-height: 44px;
      max-width: 44px;
      min-width: 44px;
      border: 2px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 2px;
      & > div {
        margin-top: -2px;
      }
    }
  }
  @media screen and (min-width: 421px) and (max-width: 500px){
    .roundButton {
      max-height: 48px;
      min-height: 48px;
      max-width: 48px;
      min-width: 48px;
      border: 2px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 4px;
      & > div {
        margin-top: -2px;
      }
    }
  }
  @media screen and (min-width: 501px) and (max-width: 660px){
    .roundButton {
      max-height: 58px;
      min-height: 58px;
      max-width: 58px;
      min-width: 58px;
      border: 2px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 4px;
      & > div {
        margin-top: -2px;
      }
    }
  }
  @media screen and (min-width: 661px) and (max-width: 780px){
    .roundButton {
      max-height: 78px;
      min-height: 78px;
      max-width: 78px;
      min-width: 78px;
      border: 3px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 4px;
      & > div {
        margin-top: -3px;
      }
    }
  }
  @media screen and (min-width: 781px){
    .roundButton {
      max-height: 86px;
      min-height: 86px;
      max-width: 86px;
      min-width: 86px;
      border: 3px solid white;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 12px;
      & > div {
        margin-top: -3px;
      }
    }
  }


  .servicesWide {
    .services {
      padding: 0 1em;
      width: 350px;
      .icon {
        img {
          max-width: 80px;
        }
      }
      .header {
        h2 {
          font-size: 1.75em;
        }
      }
      .text {
        font-size: 0.9em;
      }
      .menuText {
        color: white;
      //   min-height: 10em;
      }
    }
  }
  .servicesMobile {
    div>div {
      padding: 1em 0;
    }
    img {
      max-width: 70px;
    }
    span {
      font-size: 1.5em;
      padding: 1em;
    }
  }
  @media screen and (max-width: 799px){
  }
  @media screen and (min-width: 661px) and (max-width: 800px){
    .servicesWide {
      .services {
        padding: 0 1em;
        width: 33.3%;
        .header {
          h2 {
            font-size: 1.5em;
          }
        }
        .text {
          font-size: 0.8em;
        }
      }
    }
  }
  @media screen and (min-width: 801px) and (max-width: 1024px){
    .servicesWide {
      .services {
        padding: 0 1em;
        width: 33.3%;
        .header {
          h2 {
            font-size: 1.5em;
          }
        }
        .text {
          font-size: 0.8em;
        }
      }
    }
  }
  @media screen and (min-width: 1200px) and (min-height: 1000px){
    .servicesWide {
      .services {
        width: 400px;
      }
    }
  }
  @media screen and (min-width: 800px){
  }
  .timetable {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    transition: opacity ease-out 0.25s;
  }
  .timetableSelected {
    position: static;
    opacity: 1;
    visibility: visible;
  }
  .headWorker {
    padding: 1em;
    img {
      width: 8em;
      height: 8em;
      border-radius: 6em;
      border: 3px solid #004E63;
    }
  }
  @media screen and (max-width: 500px){
    .headWorker {
      padding: 0.5em;
      img {
        width: 8em;
        height: 8em;
        border-radius: 6em;
        border: 2px solid #004E63;
      }
      h3 {
        font-size: 20px;
      }
    }
  }

  .smallMap {
    display: none;
  }
  .bigMap {
    display: block;
  }
  @media screen and (max-width: 550px){
    .bigMap {
      display: none;
    }
    .smallMap {
      display: block;
    }
  }
  .ansaLogo {
    max-width: 40%;
  }
  .headerText {
    text-align: center;
    font-size: 3em;
    padding: .25em 0;
    color: white;
    span {
      border: 0.1em solid #FEFEFE;
      padding: 0.15em 1em;
    }
  }
  .ansaLogo_tablet {
    max-width: 60%;
  }
  .headerText_tablet {
    font-size: 2.6em;
  }
  .ansaLogo_mobile {
    max-width: 70%;
  }
  .headerText_mobile {
    font-size: 1.5em;
  }
  .text {
    color: #004E63;
    h2, h3 {
      color: white;
    }
    li {
      font-size: 1.2em;
    }
  }
  @media screen and (orientation: landscape) and (max-height: 500px){
    .contentItemHeader {
      min-height: 75vh !important;
    }
  }

  .showOnDesktop {

  }
  .showOnMobile {

  }
  @media screen and (max-width: 768px) {
    .showOnDesktop {
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .showOnMobile {
      display: none;
    }
  }
