@dark-blue: #004E63;
@light-blue: #5CC2D0;
@white: #fff;

.contactUsButton {
  background-color: @dark-blue;
  border: 2px solid @dark-blue;
  color: @white;
  font-size: 1.25em;
  display: inline-block;
  padding: .5em 1em;
  font-weight: bold;
  cursor: pointer;
  & .iconSend {
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: block;
    margin-left: .25em;
  }
  & .iconMail {
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    display: block;
    margin-left: .25em;
  }
  &:hover {
    transition: all 0.25s;
    background-color: @white;
    color: @dark-blue;
    & .iconSend {
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
      display: block;
      margin-left: .25em;
    }
    & .iconMail {
      background-size: 24px 24px;
      background-position: center;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
      display: block;
      margin-left: .25em;
    }
  }
}

.formOnLight {
  *::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
  }
  *:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
  }
  *::-ms-input-placeholder {
     color: rgba(255, 255, 255, 0.65);
   }
  .form(@white, @dark-blue);
}

.formOnDark {
  .form(@white, @light-blue);
}
.form(@focusColor, @stillColor) {
  border: 2px solid @stillColor;
  padding: 1em;
  h3 {
    color: @stillColor;
  }
  & input {
    font-size: 1.25em;
    color: @focusColor;
    width: 100%;
    -webkit-appearance:none;
    background-color: @light-blue;
    border: none;
    border-bottom: 2px solid @stillColor;
    outline: none;
    &:focus {
      border-bottom: 2px solid @focusColor;
    }
    &.invalid {
      color: #ff000;
      border-bottom: 2px solid #ff0000;
    }
  }
  & textarea {
    font-size: 1.25em;
    color: @focusColor;
    width: 100%;
    -webkit-appearance:none;
    background-color: @light-blue;
    border: none;
    border: 2px solid @stillColor;
    outline: none;
    &:focus {
      border: 2px solid @focusColor;
    }
    &.invalid {
      color: #ff000;
      border: 2px solid #ff0000;
    }
  }
}
