.contentItem {
  font-size: 1em;
}
@media screen and (min-height: 600px) and (max-height: 750px){
  .contentItem {
    font-size: 0.85em;
  }
}
@media screen and (min-height: 850px) and (max-height: 999px){
  .contentItem {
    font-size: 1.1em;
  }
}
@media screen and (min-height: 1000px) and (max-height: 1099px){
  .contentItem {
    font-size: 1.2em;
  }
}
@media screen and (min-height: 1100px){
  .contentItem {
    font-size: 1.3em;
  }
}
// @media screen and (orientation: landscape) and (max-width: 736px) and (max-height: 414px){
//   .contentItem {
//     min-height: auto !important;
//   }
// }
