.backgroundImage {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 50vh;
  background-image: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/operace.jpg');
}
@media screen and (max-width: 638px) {
  .backgroundImage{
    background-size: auto 100%;
  }
}
@media screen and (max-height: 414px) {
  .backgroundImage{
    background-size: 100% auto;
  }
}
