  .dash {
    height: 3px;
    background-color: white;
    min-width: 60px;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      background-color: #004E63;
    }
    &.selected {
      background-color: #004E63;
    }
  }
  .contentitem {
    position: relative;
    padding: 1em;
    &.header {
      background-color: rgba(0, 78, 99, 0.35);
      height: "100%";
      z-index: 10
    }
    &.second {
      background-color: #004E63;
      .rowContainer {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .careTypes {
          align-items: center;
          color: white;
          text-align: center;
          font-size: 0.8em;
          padding: 0 1em;
          img {
            max-width: 8em;
            max-height: 8em;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    .contentitem {
      font-size: 0.65em;
      padding: 0.75em;
    }
  }
  @media screen and (min-width: 1921px){
    .contentitem {
      font-size: 1.25em;
    }
  }
  .third {
    background-color: #5CC2D0;
    img {
      width: 80px;
    }
  }
  @media screen and (max-width: 500px){
    .third {
      font-size: 0.75em;
      img {
        width: 60px;
      }
    }
  }
  .button {
    border: 2px solid white;
    font-size: 2em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    color: white;
    &:hover {
      border-color: #5CC2D0;
      color: #5CC2D0;
    }
  }
  .selectedButton {
    border-color: #5CC2D0 !important;
    color: #5CC2D0;
  }
  .darkBlueColor {
    color:  #004E63;
  }
  .lightBlueColor {
    color: #5CC2D0;
  }
  .darkBlueBackground {
    background-color: #004E63;
  }
  .whiteColor {
    color: white;
  }
  .buttonToDarkBlue {
    border: 2px solid white;
    font-size: 2em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      border-color: #004E63;
      color: #004E63;
    }
  }
  .horizontalContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .alignCenter {
    align-items: center;
    padding: 0 2em;
  }
  .info {
    padding: 1em;
  }
  @media screen and (max-width: 720px) and (min-width: 501px){
    .info {
      &.second{
        width: 50%;
      }
      &.first, &.third {
        width: 25%;
      }
    }
  }
  @media screen and (max-width: 500px){
    .info {
      padding: 0.25em;
      &.second{
        width: 55%;
        p {
          padding: 0.25em;
        }
      }
      &.first, &.third {
        width: 20%;
      }
    }
  }




  .servicesWide {
    .services {
      padding: 0 2em;
      .icon {
        img {
          max-width: 80px;
        }
      }
      .header {
        h2 {
          font-size: 1.75em;
        }
      }
      .text {
        font-size: 0.9em;
      }
    }
  }
  .servicesMobile {
    div>div {
      padding: 1em 0;
    }
    img {
      max-width: 70px;
    }
    span {
      font-size: 1.5em;
      padding: 1em;
    }
  }
  @media screen and (max-width: 799px){
    .servicesWide {
      display: none;
    }
  }
  @media screen and (min-width: 661px) and (max-width: 800px){
    .servicesWide {
      .services {
        padding: 0 1em;
        width: 33.3%;
        .header {
          h2 {
            font-size: 1.5em;
          }
        }
        .text {
          font-size: 0.8em;
        }
      }
    }
  }
  @media screen and (min-width: 800px){
    .servicesMobile {
      display: none;
    }
  }
  .timetable {
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    transition: opacity ease-out 0.25s;
  }
  .timetableSelected {
    position: static;
    opacity: 1;
    visibility: visible;
  }


  .smallMap {
    display: none;
  }
  .bigMap {
    display: block;
  }
  @media screen and (max-width: 550px){
    .bigMap {
      display: none;
    }
    .smallMap {
      display: block;
    }
  }
  .ansaLogo {
    width: 35%;
  }
  .headerText {
    text-align: center;
    font-size: 3em;
    padding: 1em 0;
    color: white;
  }
  @media screen and (max-width: 1000px) and (min-width: 801px){
    .ansaLogo {
      width: 55%;
    }
    .headerText {
      font-size: 2.5em;
    }
  }
  @media screen and (max-width: 800px) and (min-width: 631px){
    .ansaLogo {
      width: 60%;
    }
    .headerText {
      font-size: 2.5em;
    }
  }
  @media screen and (max-width: 630px) and (min-width: 500px){
    .ansaLogo {
      width: 65%;
    }
    .headerText {
      font-size: 2.5em;
    }
  }
  @media screen and (max-width: 500px) and (min-width: 401px){
    .ansaLogo {
      width: 70%;
    }
    .headerText {
      font-size: 2em;
    }
  }
  @media screen and (max-width: 400px){
    .ansaLogo {
      width: 80%;
    }
    .headerText {
      font-size: 1.75em;
    }
  }
