@font-face {
  font-family: coolFont;
  src: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.eot');
  src: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.eot') format('embedded-opentype'), url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.ttf') format('truetype');
}

body {
  font-family: coolFont;
  margin: 0;
}
h2 {
  margin: 0;
}
p {
  margin: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}

a img {
    border:none;
    outline:none;
}

$lightBlueColor: #5CC2D0;

.languageWrapper {
  display: inline-block;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  a {
    color: inherit;
  }
  z-index: 100;
  &>div {
    display: inline-block;
    font-size: 1.25em;
    border: 3px solid white;
    margin: 1em;
    border-radius: 3em;
    width: 3em;
    height: 3em;
    cursor: pointer;
    transition: all ease 0.25s;
    &.selectedLanguage {
      color: $lightBlueColor;
      border-color: $lightBlueColor;
    }
    &:hover {
      color: $lightBlueColor;
      border-color: $lightBlueColor;
    }
  }
}
@media screen and (max-width: 375px), screen and (orientation: landscape) and (max-width: 736px) and (max-height: 414px){
  .languageWrapper {
    font-size: 0.8em;
    padding: 0.5em;
  }
}

.ansaapp {
  font-size: 14px;
  line-height: 1.42857;
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .flexEndAlign {
    align-items: flex-end;
  }
  .dash {
    height: 3px;
    background-color: white;
    min-width: 60px;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      background-color: #004E63;
    }
    &.selected {
      background-color: #004E63;
    }
  }
  .menu {
    padding: 2em;
    img {
      width: 80px;
    }
    cursor: pointer;
    img:hover #lines {
      fill: $lightBlueColor;
    }
  }
  .contentitem {
    position: relative;
    padding: 1em;
    &.header {
      background-color: rgba(0, 78, 99, 0.35);
      height: "100%";
      z-index: 10
    }
    &.second {
      background-color: #004E63;
      .rowContainer {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        .careTypes {
          align-items: center;
          color: white;
          text-align: center;
          font-size: 0.8em;
          padding: 0 1em;
          img {
            max-width: 8em;
            max-height: 8em;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px){
    .contentitem {
      font-size: 0.75em;
      padding: 0.75em;
    }
  }
  @media screen and (min-width: 1921px){
    .contentitem {
      font-size: 1.25em;
    }
  }
  .third {
    background-color: $lightBlueColor;
    img {
      width: 80px;
    }
  }
  @media screen and (max-width: 500px){
    .third {
      font-size: 0.75em;
      img {
        width: 60px;
      }
    }
  }
  .button {
    border: 2px solid white;
    font-size: 2em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    color: white;
    &:hover {
      border-color: $lightBlueColor;
      color: $lightBlueColor;
    }
  }
  .selectedButton {
    border-color: $lightBlueColor !important;
    color: $lightBlueColor;
  }
  .darkBlueColor {
    color:  #004E63;
  }
  .lightBlueColor {
    color: $lightBlueColor;
  }
  .darkBlueBackground {
    background-color: #004E63;
  }
  .whiteColor {
    color: white;
  }
  .buttonToDarkBlue {
    border: 2px solid white;
    font-size: 2em;
    padding: .05em 1em;
    display: inline-block;
    cursor: pointer;
    transition: all 0.15s ease;
    &:hover {
      border-color: #004E63;
      color: #004E63;
    }
  }
  .coolFont {
    font-family: coolFont;
  }

  .footerMobile {
    img {
      padding: 2em 0;
      width: 100%;
      max-width: 250px;
    }
    color: white;
    padding: 2em;
    text-align: center;
  }
}
