.dash {
  height: 3px;
  background-color: white;
  min-width: 60px;
  margin: 1rem;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s ease;
  &:hover {
    background-color: #004E63;
  }
  &.selected {
    background-color: #004E63;
  }
  &.small {
    min-width: 1rem;
  }
}
@media screen and (max-width: 660px){
  .dash {
    min-width: .5rem;
    margin: 0.25rem;
  }
}
.contentItem {
  position: absolute;
  opacity: 0;
  top: 0;
  visibility: hidden;
  transition: opacity ease-out 0.45s 0s;
  &.visible {
    position: static;
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 1024px){
  .contentItem {
    display: none !important;
    &.visible {
      display: table !important;
    }
  }
}
.arrowButtons {
  cursor: pointer;
}
.rotate180 {
  transform: rotate(180deg);
}
