
h3, h4, h5 {
  margin: 0;
}


@font-face {
  font-family: coolFont;
  src: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.eot');
  src: url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.eot') format('embedded-opentype'), url('https://s3.eu-central-1.amazonaws.com/calm-beach-40263-storage/images/med-arial.ttf') format('truetype');
}

.coolFont {
  font-family: coolFont;
}

.toolbar {
  position: relative;
  padding: 1em 0;
  background-color: rgba(222, 222, 222, 0.75);
  border-bottom: 1px solid rgba(204, 204, 204, 1);
  .toolbarButtons {
    position: absolute;
    top: 0;
    right: 200px;
    padding: .5em 0;
  }

  .toolbarLoginStatus {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    max-width: 180px;
    padding: .5em;
  }

}
.select {
  font-size: 14px;
  padding: 10px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
}
